<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Table</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>UserId</th>
                <th>Id</th>
                <th>Title</th>
            </tr>
        </thead>
        <tbody>
            <% for(let i=0;i<data.length;i++){%>
            <tr>
                <td><%= data[i].userId %></td>
                <td><%= data[i].id %></td>
                <td><%= data[i].title %></td>
            </tr>
            <% } %>

        </tbody>
    </table>
</body>
</html>